<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>935866938730-gfhenq8h8dcoblctbt1bkvp59vtfa9ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935866938730-gfhenq8h8dcoblctbt1bkvp59vtfa9ud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>935866938730-55nh0droovko6sn5npjdm1afsf8glm3l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD04AxVXj7cXXog_NSUxQnT9N5sWZG9vqg</string>
	<key>GCM_SENDER_ID</key>
	<string>935866938730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.clanapp.clanapp</string>
	<key>PROJECT_ID</key>
	<string>clanapp-d35d2</string>
	<key>STORAGE_BUCKET</key>
	<string>clanapp-d35d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:935866938730:ios:603fbd489dd093c0</string>
	<key>DATABASE_URL</key>
	<string>https://clanapp-d35d2.firebaseio.com</string>
</dict>
</plist>